* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.create-jasa {
    max-width: 400px;
    margin: 30px auto;
    text-align: center;
}

.create-jasa label {
    text-align: left;
    display: block;
}

.create-jasa h2 {
    font-size: 26px;
    margin-bottom: 30px;
}

.create-jasa input,
.create-jasa textarea,
.create-jasa select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

.create-jasa button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}