* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.detail-jasa {
    margin: 50px 0px;
    padding: 15px 150px;
}

.detail.jasa .link {
    display: flex;
    align-items: center;
}

.detail-jasa .link a {
    text-decoration: none;
    color: black;
}

.detail-jasa .link img {
    width: 10px;
    margin: 0px 12px;
}

.detail-jasa article {
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
}

.detail-jasa article .kiri {
    flex: 1.7;
    padding: 30px 35px;
    box-sizing: border-box;
}

.detail-jasa article .tengah {
    flex: 1.5;
    padding: 30px 35px;
    box-sizing: border-box;
}

.detail-jasa article .tengah h2 {
    margin-bottom: 20px;
}

.detail-jasa article .kanan {
    flex: 1;
    box-sizing: border-box;
}

.detail-jasa article .kanan .atas {
    border: 2px solid black;
    border-radius: 5px;
    padding: 30px 20px;
    box-sizing: border-box;
}

.detail-jasa article .kanan .bawah {
    border: 2px solid black;
    border-radius: 5px;
    padding: 30px 20px;
    box-sizing: border-box;
    height: 300px;
}