* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.list-jasa {
    margin: 50px 0px;
    padding: 2px 150px;
}

.list-jasa hr {
    margin: 15px 0px;
}

.list-jasa .kategori {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.list-jasa .kategori a {
    text-decoration: none;
    color: black;
}

.list-jasa .kategori img {
    width: 250px;
}

.list-jasa .kategori h3 {
    font-weight: normal;
    margin-bottom: 20px;
}

.list-jasa .kategori .jasa {
    text-align: center;
    height: 450px;
    margin: 0px 20px;
    padding: 0px 25px;
    border-radius: 20px;
    background-color: #F5EFEF;
}

.list-jasa .kategori .jasa:hover {
    box-shadow: 12px 12px 4px #B5B3B3;
}