* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.jasa-prog {
    margin: 50px 0px;
    padding: 15px 150px;
}

.jasa-prog .link {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.jasa-prog .link a {
    text-decoration: none;
    color: black;
}

.jasa-prog img {
    width: 10px;
    margin: 0px 12px;
}

.jasa-prog h4 {
    margin-top: 45px;
}