* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbarDash {
    background-color: #772525;
    padding: 15px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbarDash a{
    text-decoration: none;
    color: white;
}

.kiri img{
    width: 85px;
}

.kiri h6 {
    text-align: center;
    font-weight: normal;
}

.bagianTengah {
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.bagianTengah a{
    text-align: center;
    padding: 10px 20px;
    
}

.bagianKanan {
    display: flex;
    align-items: center;
}

.bagianKanan img{
    width: 50px;
    border-radius: 25px;
    margin-left: 15px;
}