* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.navbar {
    background-color: #772525;
    padding: 15px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar a {
    text-decoration: none;
    margin-left: 45px;
    color: white;
}

.navbar h6 {
    font-weight: normal;
}

.navbar img {
    width: 85px;
}

.navbar .kiri {
    text-align: center;
}

.navbar .bagian-kiri {
    display: flex;
    align-items: center;
}

.navbar .bagian-kanan {
    background-color: #540B0E;
    text-align: center;
    padding: 10px 20px;
    border-radius: 7px;
}

.navbar .bagian-kanan a {
    margin-left: 0px;
}