* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.preview-jasa {
    display: flex;
    flex-wrap: wrap;
}

.preview-jasa a {
    text-decoration: none;
    color: black;
}

.preview-jasa .preview {
    width: 240px;
    height: 300px;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 25px;
    margin-right: 25px;
    border-radius: 20px;
    background-color: #F5EFEF;
}

.preview-jasa .preview:hover {
    box-shadow: 12px 12px 4px #B5B3B3;
}