* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.projek {
    display: flex;
    justify-content: space-between;
    background-color: #772525;
    padding: 2px 0px;
    padding-left: 150px;
}

.projek .bagianKiri {
    padding: 150px 40px;
    color: white;
    flex: 1.35;
}

.projek .bagianKanan {
    background-color: #F5EFEF;
    flex: 3;
    padding-right: 40px;
    padding-left: 70px;
    padding-top: 35px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.window {
    width: 100%;
    height: 100%;
}

.pendapatan {
    display: flex;
    width: 292px;
    height: 120px;
    align-items: center;
    justify-content: center;
    background-color: #E97171;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 20px;
}

.project {
    display: flex;
    width: 292px;
    height: 120px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #335C67;
    border-radius: 15px;
    margin-bottom: 20px;
}

.finish {
    display: flex;
    width: 292px;
    height: 120px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #E09F3E;
    border-radius: 15px;
    margin-bottom: 20px;
}

.projek .konten {
    margin-left: 20px;
}

.projek .atas {
    display: flex;
    background-color: white;
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    color: #772525;
}

.projek .atas h3 {
    font-size: 28px;
    font-weight: bold;
}

.projek .search {
    border-style: solid;
    border-radius: 6px;
    border-width: 2px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.projek .atas input {
    font-size: 16px;
    border-width: 0px;
    margin-left: 5px;
}

.projek .atas input:focus{
    outline: none;
}

.projek .tengah {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: white;
    border-radius: 6px;
    margin-top: 25px;
}

.projek .bawah {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background-color: white;
    margin-top: 25px;
    height: 75%;
    overflow: auto;
}

.projek .bawah .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-top: 10px;
}
